altgraph
asgiref
certifi
cffi
charset-normalizer
contourpy
cryptography
customtkinter
cycler
darkdetect
distlib
Django
django-allauth
django-crispy-forms
filelock
fonttools
idna
kiwisolver
matplotlib
mysql-connector-python
numpy
opencv-python
packaging
pandas
pefile
pillow
platformdirs
pycparser
pyinstaller
pyinstaller-hooks-contrib
PyJWT
PyMuPDF
PyMySQL
pyparsing
python-dateutil
pytz
pywin32-ctypes
requests
setuptools
six
sqlparse
tzdata
urllib3
virtualenv

