{% extends "base.html" %}
{% block title %}{% if editing %}Edit Video{% else %}Upload Video{% endif %}{% endblock %}
{% block content %}
<div class="card bg-dark text-white p-4 mb-4">
  <h2>{% if editing %}Edit{% else %}Upload{% endif %}</h2>
  <form method="post" enctype="multipart/form-data">
      {% csrf_token %}
      {% if messages %}
        {% for m in messages %}
          <div class="alert alert-{{ m.tags }}">{{ m }}</div>
        {% endfor %}
      {% endif %}
      {{ form.non_field_errors }}
      <div class="mb-3">
          {{ form.title.label_tag }}
          {{ form.title }}
          {{ form.title.errors }}
      </div>
      <div class="mb-3">
          {{ form.description.label_tag }}
          {{ form.description }}
          {{ form.description.errors }}
      </div>
      <div class="mb-3">
          {{ form.category.label_tag }}
          {{ form.category }}
          {{ form.category.errors }}
      </div>
      {% if not editing %}
      <div class="mb-3">
          {{ form.video_file.label_tag }}
          {{ form.video_file }}
          {{ form.video_file.errors }}
      </div>
      {% endif %}
      <button type="submit" class="btn btn-success">{% if editing %}Update{% else %}Upload{% endif %}</button>
  </form>
</div>
{% endblock %}
